@model List<ShoppingCart>
@{
    ViewData["Title"] = "Your order history";
}

<h1>@ViewData["Title"]</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Accepted</th>
        <th>Submitted</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Accepted</td>
            <td>@item.Submitted</td>
            <td>@Html.ActionLink("Details", "Index", "Cart", new { customerId = item.Customer, cartId = item.Id})</td>
        </tr>
    }
</table>


@Html.ActionLink("Create new", "Create", "Orders", ViewContext.RouteData.Values)